.clock {
    border: 2px solid black;
    height: 600px;
    width: 600px;
    border-radius: 200px;
    position: relative;
    background-color:white;
}

p {
    text-align: center;
    height: 600px;
    position: absolute;
    width: 600px;

}

.p1 {
    transform: rotate(30deg);

}

.p2 {
    transform: rotate(60deg);

}

.p3 {
    transform: rotate(90deg);

}

.p4 {
    transform: rotate(120deg);

}

.p5 {
    transform: rotate(150deg);

}

.p6 {
    transform: rotate(180deg);

}

.p7 {
    transform: rotate(210deg);

}

.p8 {
    transform: rotate(240deg);

}

.p9 {
    transform: rotate(270deg);

}

.p10 {
    transform: rotate(300deg);

}

.p11 {
    transform: rotate(330deg);

}

p {
    margin: 0;

}
.hand{position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    
transform-origin: top;
}
.hour{
    height: 170px;
    width: 6px;
}
.minute{
    height: 250px;
    width:4px;

}
.second{
    height: 200px;
    width: 1px;
}
html{
    background-color: aqua;
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
